
body {
    width: 100%;
    font-family: 'Arial', sans-serif;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/897/950/537/ubuntu-linux-gradient-minimalism-wallpaper-preview.jpg');
    background-size: cover;
    overflow: hidden;
}
.dock {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: rgb(56, 53, 53);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 20px 0;
}

.dock-icon {
    width: 60px;
    height: 60px;
    background-color: rgba(122, 144, 147, 0.8); 
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s;
}

.dock-icon img {
    width: 80%;
}

.dock-icon:hover , #menu:hover{
    transform: scale(1.1);
}
#menu{
    width: 60px;
    height: 60px;
    margin-top: auto;
    margin-bottom: 30px;
    transition: transform 0.2s;
    background-color: rgba(122, 144, 147, 0.8);
    border-radius: 10px;
    
}
#menu img{
    width: 100%;
}
@media (max-width: 768px) {
    .dock-icon {
        width: 50px;
        height: 50px;
    }
    .dock {
        left: 10px;
    }
}