* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: url('https://birchtree.me/content/images/size/w2000/2020/08/DB0B3B0A-1888-41AB-B044-AB24A90229CE..jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    width: 100%;
    background-color:rgb(255, 192, 231);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-right {
    display: flex;
    align-items: center;
}
.menu-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.menu-icon {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.unorderlist{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    
}
.unorderlist li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0.8rem;
}
.unorderlist li button{
    text-decoration: none;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    
}

.slideFinder{
    width: 200px;
    padding: 20px 30px 20px 30px;
    background-color: rgba(0, 0, 0, 0.497);
    color: white;
    position: fixed;
    top: -400px;
    left: 0px;
    transition:0.3s ease-in;
    border-radius: 8px;
   }
.slideFinder>div{
     margin-top: 10px;
}
.slidegoFinder{
  transform: translateY(42px);
  position: absolute;
  top: 0px;
  left: 0px;
}
.slideFinder {
    display: none;
}


.active {
    display: block;
}

.slideFile{
    width: 200px;
    padding: 20px 30px 20px 30px;
    background-color:  rgba(0, 0, 0, 0.497);
    color: white;
    position: fixed;
    top: -400px;
    left: 150px;
    transition:0.3s ease-in;
    border-radius: 8px;
}
.slideFile>div{
    margin-top: 10px;
}
.slidegoFile{
    transform: translateY(42px);
    position: absolute;
    top: 0px;
    left: 150px;
}

.slideFile{
    display: none;
}

.active {
    display: block;
}

.slideEdit{
    width: 200px;
    padding: 20px 30px 20px 30px;
    background-color:  rgba(0, 0, 0, 0.497);
    color: white;
    position: fixed;
    top: -400px;
    left: 200px;
    transition:0.3s ease-in;
    border-radius: 8px;
}
.slidegoEdit{
    transform: translateY(42px);
    position: absolute;
    top: 0px;
    left: 200px;
}
.slideEdit{
    display: none;
}
.active {
    display: block;
}

.slideGo>div{
    margin-top: 10px;
}
.slideGo{
    width: 200px;
    padding: 20px 30px 20px 30px;
    background-color:  rgba(0, 0, 0, 0.497);
    color: white;
    position: fixed;
    top: -400px;
    left: 300px;
    transition:0.3s ease-in;
    border-radius: 8px;
}
.slidegoGo{
    transform: translateY(42px);
    position: absolute;
    top: 0px;
    left: 300px;
}
.slideGo{
    display: none;
}
.active {
    display: block;
}

.slideHelp>div{
    margin-top: 10px;
}
.slideHelp{
    width: 200px;
    padding: 20px 30px 20px 30px;
    background-color:  rgba(0, 0, 0, 0.497);
    color: white;
    position: fixed;
    top: -400px;
    left: 500px;
    transition:0.3s ease-in;
    border-radius: 8px;
}
.slidegoHelp{
    transform: translateY(42px);
    position: absolute;
    top: 0px;
    left: 500px;
}
.slideHelp{
    display: none;
}
.active {
    display: block;
}

.righthead{
    position: relative;
}
.battery:hover::after{
   content: "Battery Status : 45% remaning";
   position: absolute;
   top: 30px;
   left:-70px;
   background-color:rgba(26, 0, 0, 0.656);
   color:rgba(255, 255, 255,0.9);
   font-size: 1rem;
   padding: 10px 5px;
   border-radius: 2px;
}

.speaker:hover::after{
   content: "Speakers (realtek(R) Audio):80%";
   position: absolute;
   top: 30px;
   left:0px;
    background-color:rgba(26, 0, 0, 0.656);
    color:rgba(255, 255, 255,0.9);
    font-size: 16px;
    padding: 10px 5px;
    border-radius: 4px;
}
.wifi:hover::after{
    content: "POCO M6 5G Pro Internet access";
    position: absolute;
    top: 30px;
      left:0px;
      background-color:rgba(26, 0, 0, 0.656);
      color:rgba(255, 255, 255,0.9);
      font-size: 16px;
      padding: 10px 5px;
      border-radius: 4px;
}
.search:hover::after{
      content: "seach";
      position: absolute;
      top: 30px;
      left:148px;
      background-color:rgba(26, 0, 0, 0.656);
      color:rgba(255, 255, 255,0.9);
      font-size: 16px;
      padding: 10px 5px;
      border-radius: 4px;
}



.time {
    color: black;
    font-size: 14px;
}

.icon-container {
    width: 66px;
    margin: 20px;
    text-align: center;
}

.icon {
    margin: auto;
    display: flex;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 15px;
    justify-content: center;
    align-items: center ;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    
}

.icon img {
    width: 40px;
    height: 40px;
}

.icon-container:hover .icon {
    transform: translateY(-15px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.icon-label {
    color: white;
    margin-top: 10px;
    font-size: 0.8rem;
}

.dock {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dock-icon {
    width: 30px;
    height: 30px;
    background-color: none;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.dock-icon img {
    width: 30px;
    height: 30px;
}

.dock-icon:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.finder--logo {
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.finder--logo img {
    width: 40px;
    height: 40px;
}

.finder--logo:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.zoom {
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.zoom img {
    width: 40px;
    height: 40px;
}

.zoom:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.folder {
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.folder img {
    width: 40px;
    height: 40px;
}

.folder:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.twitter {
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.twitter img {
    width: 40px;
    height: 40px;
}

.twitter:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.apple-tv {
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.apple-tv img {
    width: 40px;
    height: 40px;
}

.apple-tv:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.facetime {
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.facetime img {
    width: 40px;
    height: 40px;
}

.facetime:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.music {
    width: 40px;
    height: 40px;
    background-color: none;
    border-radius: 15px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.music img {
    width: 30px;
    height: 30px;
}

.music:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.slideFinderLogo{
    width: 80%;
    margin:0px auto;
   box-shadow: 4px 8px 6px 4px rgba(0,0,0,0.5);
    position: absolute ;
    top: -800px;
    left: 200px;
    background-color: white;
}



.slideFinderLogo>div{
margin-top: 10px;
}
.slidegoFinderLogo{
transform: translateX(0px);
position: absolute;
top: 0px;
left: 200px;
}
.containerF{
    width: 100%;
    display: flex;
    padding:8px 10px;
}
.leftContainer{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid  rgba(0,0,0,0.5);
}
.leftContainer>div{
    margin-top: 20px;
}

.left-one-div{
    display: flex;
}

.left-one-div div:nth-child(1){
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    margin-left: 15px;
}
.left-one-div div:nth-child(2){
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 50%;
    margin-left: 15px;
}
.left-one-div div:nth-child(3){
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    margin-left: 15px;
}
.left-two-div{
    border-right: 10px solid rgba(0,0,0,0.5);
}
.left-two-div>div{
    margin-top: 10px;
  
}
.left-two-div>div:hover{
    color: blue;
    text-decoration: underline;
}
.left-two-div>div span{
    margin-left: 10px;
}
.left-three-div>div{
    margin-top: 10px;
}
.left-three-div>div span{
    margin-left: 10px;
}
.left-three-div>div:hover{
    color: blue;
    text-decoration: underline;
}
.left-four-div>div{
    margin-top: 10px;
}
.left-four-div>div span{
    margin-left: 10px;
}
.left-four-div>div:hover{
    color: blue;
    text-decoration: underline;
}

.rightContainer{
    width: 100%;
    height: 100px;
}
.righttop{
    display: flex;
    justify-content: space-between;
    padding: 30px 10px;
    border: 1px solid  rgba(0,0,0,0.5);
}
.righttop i{
  font-size: 25px;
}
.rightbottom img{
  width:40px;
}
.rightbottom{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 30px;
    margin-top: 70px;
    padding-left: 10px;
}
.rightbottom>div{
    border-top: 1px solid rgba(0,0,0,0.4);
    border-bottom: 1px solid rgba(0,0,0,0.4);
    padding: 10px 0px;
}
.rightbottom>div img{
    transition: transform 0.3s ease-in;

}
.rightbottom>div img:hover{
    transform: translateY(-15px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}