/* headr styleing */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

/* main section styling */
body{
    background-image: url('https://images6.alphacoders.com/115/1152265.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.container{
    max-width: 100vw;
    height: 100vh;
    margin: auto;
} 
.container::-webkit-scrollbar{
    display: none;
}
#taskbar{
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right,rgba(4, 13, 38, 1) ,rgba(29, 72, 172), rgb(29, 72, 172), rgb(4, 13, 38), rgba(4, 13, 38, 1));
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#first{
    padding-left: 20px;
    color: white;
    visibility: hidden;
}

#taskbar>div{
    display: flex;
    justify-content: space-around;
}
#taskbar img{
    height: 2.5rem;
    margin: 0 .5rem;
    padding: 0.2rem;
}
.search{
    position: relative;
    display: flex;
    align-items: center;
}
.search>input{
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    padding-left: 40px;
    width: 100%;
}
.search>input:focus{
    background-color: rgba(255, 255, 255, 0.9);
    font-weight: 400;
}
.search>img{
    position: absolute;
    top: 15%;
}

.tooltip{
    visibility: hidden;
    background-color: #0000008e;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 7px;
    transform: translateX(-20%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    position: absolute;
    bottom: 80%;
}
#taskbar>div>div>a:hover+.tooltip{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.4s;
}
#taskbar>div>div>a>img:hover{
    background-color: rgba(128, 128, 128, 0.3);
    background-size: cover;
    transition: 0.1s ease-in-out;
    border-radius: 5px;
}
#taskbar>div>div>a:focus+.tooltip{
    visibility: hidden;
    transition: 0.1s ease-in-out;
}
#start-slider>img{
    width: 2rem;
    height: auto;
    padding: .5rem;
}
#last{
    margin-right: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#taskbar>div>#last img{
    height: 1.2rem;
    margin: 0;
}
#last>div:hover .tooltip{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.4s;
}
#last:focus>div>.tooltip{
    visibility: hidden;
    transition: 0.1s ease-in-out;
}
#last:hover{
    background-color: rgba(128, 128, 128, 0.3);
    background-size: cover;
    transition: 0.1s ease-in-out;
    border-radius: 5px;
}
#datetime{
    color: white;
    margin-right: 1rem;
    width: 60px;
    padding: 0.2rem ;
}
#datetime:hover{
    background-color: rgba(128, 128, 128, 0.3);
    background-size: cover;
    transition: 0.1s ease-in-out;
    border-radius: 5px;
}
#start{
    width: 40%;
    height: 80vh;
    background-color: rgb(210, 225, 239);
    /* display: none; */
    position: absolute;
    bottom: 120%;
    border-radius: 10px;
    transition: transform .3s ease-in-out;
}
#start>div{
    margin: 2rem;
}
#u-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 0 2rem;
}
#u-banner>h1{
    font-weight: 500;
    font-size: 1rem;
}
#u-banner>button{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.1px 1px rgba(0, 0, 0, 0.5),
                0 -0.1px 1px rgba(0, 0, 0, 0.5);
}
#banner{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    text-align: center;
}
#banner>figure{
    padding: 0 1rem;
    margin: 1rem;
}
#banner>figure:hover{
    background-color: white;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}
#desktop{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    width: 25%;
}
#desktop figure{
    margin: 1rem 0.3rem;
    color: #fff;
    font-weight: 500;
    padding: 1rem 0;
    width: 80%;
}
#desktop img{
    width: 3rem;
    height: auto;
}
#desktop figure:hover{
    background-color: #ffffff2c;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
#lastdiv{
    width: 24%;
    height: 55vh;
    background-color: #fff;
    position: absolute;
    bottom: 120%;
    right: 1%;
    /* display: none; */
    border: none;
    border-radius: 10px;
    background-color: rgb(210, 225, 239);
    transition: transform .3s ease-in-out;
}
#lastgrid{
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    margin: 1rem;
}
#lastgrid>div>div{
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(155, 155, 155, 0.322);
    border: none;
    border-radius: 7px;
}
#lastgrid>div>div:hover{
    background-color: #ffffff;
}
#lastgrid>div>div>img{
    width: 24px;
    height: 24px;
}
#lastgrid>div>h2{
    text-align: center;
}
#brightness,#volume{
    display: flex;
}
#brightness>input,#volume>input{
    width: 70%;
}
#volume+div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(155, 155, 155, 0.322);
    position: absolute;
    bottom: 0;
    width: 100%;
}
#volume+div>div{
    display: flex;
}
#volume+div>div>img{
    width: 24px;
    height: auto;
}
#volume+div>div:first-child:hover{
    background-color: #ffffff;
    transition: 0.2s ease;
    border-radius: 5px;
    padding-right: .5rem;
}
#volume+div>div:last-child>img:hover{
    background-color: #ffffff;
    transition: 0.3s ease;
    border-radius: 5px;
}

.slide-in{
    transform: translateY(0);
}
.slide-out{
    transform: translateY(120%);
}
@media screen and (min-width: 1047px) and (max-width: 1440px) {
    #start{
        width: 50%;
    }
}
@media screen and (min-width:695px) and (max-width: 1048px) {
    #start{
        width: 60%;
    }
    #banner{
        grid-template-columns: repeat(3,1fr);
    }
    #banner figure:last-child{
        display: none;
    }
}
@media screen and (min-width: 430px) and (max-width: 694px) {
    #start{
        width: 80%;
    }
    #banner{
        grid-template-columns: repeat(3,1fr);
    }
    #banner figure:last-child{
        display: none;
    }
    #desktop{
        width: 30%;
    }
    #datetime{
        visibility: hidden;
    }
}
@media screen and (max-width: 429px) {
    #start{
        width: 80%;
    }
    #banner{
        grid-template-columns: 1fr 1fr;
    }
    #banner figure:last-child{
        display: none;
    }
    #desktop{
        width: 30%;
    }
    #datetime{
        visibility: hidden;
    }
    #last{
        visibility: hidden;
    }
}
/* footer section */