
/* headr styleing */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
}

/* main section styling */
body{
    background-image: url('https://ucarecdn.com/89e80fec-4ce0-4d02-baf1-2e86e5df5f8d/windows11.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container{
    max-width: vw;
    margin: auto;
} 
#taskbar{
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right,rgba(4, 13, 38, 1) ,rgba(29, 72, 172), rgb(29, 72, 172), rgb(4, 13, 38), rgba(4, 13, 38, 1));
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#first{
    padding-left: 20px;
    color: white;
    visibility: hidden;
}

#taskbar>div{
    display: flex;
    justify-content: space-around;
}
#taskbar img{
    height: 2.5rem;
    margin: 0 .5rem;
    padding: 0.2rem;
}
#search{
    position: relative;
    display: flex;
    align-items: center;
}
#search>input{
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    padding-left: 40px;
}
#search>img{
    position: absolute;
    top: 15%;
    height: 25px;
    width: 25px;
}
.tooltip{
    visibility: hidden;
    background-color: #0000008e;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 7px;
    transform: translateX(-20%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
    position: absolute;
    bottom: 80%;
}
#taskbar>div>div>a:hover+.tooltip{
    visibility: visible;
    opacity: 1;
    transition-delay: 1s;
}
#taskbar>div>div>a>img:hover{
    background-color: rgba(128, 128, 128, 0.3);
    background-size: cover;
    transition: 0.1s ease-in-out;
    border-radius: 5px;
}
#last{
    margin-right: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
#taskbar>div>#last img{
    height: 1.2rem;
    margin: 0;
}
#last>div:hover .tooltip{
    visibility: visible;
    opacity: 1;
    transition-delay: 1s;
}
#last:hover{
    background-color: rgba(128, 128, 128, 0.3);
    background-size: cover;
    transition: 0.1s ease-in-out;
    border-radius: 5px;
}
#datetime{
    color: white;
    margin-right: 1rem;
    width: 60px;
    padding: 0.2rem ;
}
#datetime:hover{
    background-color: rgba(128, 128, 128, 0.3);
    background-size: cover;
    transition: 0.1s ease-in-out;
    border-radius: 5px;
}


/* footer section */
